.sidebar{
    height:645px;
    width: 120px;
    overflow:auto;
}
@media only screen and (max-width: 400px) {
 .sidebar{
    height: 100%;
 } 
}
.span_reset_filters{
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    /* color:white; */
    font-size: 14px;

}
/* .span_reset_filters:hover{
     color:whitesmoke;
 }  */
.span_filter_by{
    margin-left: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    /* color: white; */
    font-size: 14px;
}
.span_filter_by:hover{
    color:whitesmoke;
}
.filter_span_row{
    border-bottom: 1px solid black;
}
/* employee name input filter */
.emp_name_input{
    width: 190px;
    height: 30px;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.emp_name_input::placeholder{
    font-size: 13px;
}
#employee_name_span{
    font-size: 14px;
}
#gender_span{
    font-size: 14px;

}
#employee_status_span{
    font-size: 14px;
}
/* employee id input filter */
.emp_id_input{
    width: 190px;
    height: 30px;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.emp_id_input::placeholder{
    font-size: 13px;
}
#employee_id_span{
    font-size: 14px;
}
#job_location{
    font-size: 14px;
}